<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augustana.teamaardvark.acesaardvark">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aces_launcher3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aces_launcher3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Google_SignIn"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OfflineActivity"
            android:screenOrientation="portrait" />

        <!--      <meta-data
                  android:name="com.google.android.geo.API_KEY"
                  android:value="AIzaSyCrHKSvsB-ZxRprxb1GE1fWM54uqUtxWZU" /> -->

              <meta-data
                  android:name="com.google.android.geo.API_KEY"
                  android:value="AIzaSyC-oocxgwJq5oB_RUcGJbhhyRg4s-mwJUk"/>

              <activity
                  android:name=".GoogleMapsActivity"
                  android:label="Map"></activity>
              <activity android:name=".AboutPageActivity"> android:label="About"></activity>
              <activity android:name=".AfterRequestRideActivity"> android:label="After"></activity>

          </application>

      </manifest>